/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.btn-warning {
    color: #212121;
    background: #eabb53;
    border-color: #eabb53;
}

.searchBox {
    padding: 0px;
    margin: 0px;
    height: 30px;
    margin-right: 10px;
}

.topMarg {
    margin-top: 30px;
}
.sideMarg {
    margin-right: 10px;
    margin-left: 10px;
}

.moreSideMarg {
    margin-right: 20px;
    margin-left: 20px;
}

.leftSideMarg {
    margin-left: 120px;
}

.mainLogo {
    width: 150px;
    height: 75px;
}

.nav-item.active > a {
    border-bottom: 4px solid #eabb53;
}

.btn {
    box-shadow: none;
}

.mainContainer {
    margin-top: 30px;
}
.landing {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient( rgba(128,128,128, 0.3), rgb(128, 128, 128, 0.3) ), url("https://images.unsplash.com/photo-1497888329096-51c27beff665?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2851&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-text {
    width: 50%;
    height: 100%;
}

body {
    margin-bottom: 0px;
}


@font-face {
    font-family: "Prospectus Pro Blk";
    src: url('~/fonts/ProspectusLBlk.otf') format('opentype');
}

@font-face {
    font-family: "Prospectus Pro BldItal";
    src: url('~/fonts/ProspectusLBldItal.otf') format('opentype');
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Prospectus Pro Bld";
}

.impactTextHead {
    font-size: 60px;
}

.impactTextP {
    font-size: 20px;
}

.PPBlk {
    font-family: "Prospectus Pro Blk";
}

.gridCard {
    /*padding: 10px;*/
    width: 400px;
    height: 500px;
    margin: 25px;
}

.smallCardImage {
    max-width: 100%;
    max-height: 70%;
}

.card {
    border-radius: 0px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 5px rgba(0,0,0,0.1);
}


.customHr {
    border-top: 1px dotted black;
    margin-bottom: 0px;
}

.noTopBottomMarg {
    margin-top: 0px;
    margin-bottom: 0px;
}

.text-muted {
    color: #808080 !important;
}