@{
    ViewData["Title"] = "Home Page";
}


<div class="landing">
    <div class="landing-text d-flex flex-column justify-content-center">
        <h1 class="leftSideMarg impactTextHead text-white" style="line-height: 55px;">Welcome to The Cast Iron Collective.</h1>
        <p class="leftSideMarg impactTextP PPBldItl text-white">The Cast Iron Collective is an app that lets you store,find, <br />and plan recipes and meals.</p>
        <a class="leftSideMarg font-weight-bold" asp-controller="Recipes" asp-action="RecentRecipes" style="color: darkgoldenrod;">View recently added recipes <i class="fas fa-arrow-circle-right sideMarg"></i></a>
    </div>
</div>
